commit.time
up.time
.*.sw*

ewmeas.ssv

*.world.tab

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk
target.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
